:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #1b0760;
    --body-color: #504d61;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--body-color);
}

h1, h2, h3 {
    color: var(--accent-color);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link-text {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-text::after {
    content: '-->';
    margin-left: 4px;
    transition: margin-left .4s;
}

.link-text:hover::after {
    margin-left: 8px;
}

@media screen and (min-width: 1024px) {
    .link-text {
        font-size: 1.5rem;
    }
}

/* Badges */
.badge {
    border-radius: 20px;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    font-size: 2rem;
}

.badge--accent {
    background: var(--accent-color);
    color: #fff;
}

.badge--primary {
    background: #155cb9;
    color: white;
}

.badge--secondary {
    background: var(--secondary-color);
    color: white;
}

.badge--small {
    font-size: 1.6rem;
    padding: .5rem 1.2rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--bold {
    font-weight: 700;
}

.list--tick {
    list-style-image: url(Images/tick.svg);
    padding-left: 3rem;
    color: var(--accent-color);
}

.list--tick .list__item {
    padding-left: .5rem;
    margin-bottom: 1.8rem;
    letter-spacing: .6px;
}

/* Icons */
.icon {
    width: 30px;
    height: 30px;
}

.icon--big {
    width: 40px;
    height: 40px;
}

.icon--white {
    fill: #fff;
}

.icon--primary {
    fill: var(--primary-color)
}

.icon--accent {
    fill: var(--accent-color);
}

.icon--secondary {
    fill:var(--secondary-color);
}

.icon-container {
    background: var(--accent-color);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

/* Buttons */
.button {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.button--primary {
    background-color: var(--primary-color);
    color: #fff;
    transition: .3s;
}

.button--primary:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.button--primary:hover .icon--white {
    fill: var(--primary-color);
    transition: .3s;
}

.button--secondary {
    background-color: #fff;
    color: var(--secondary-color);
    transition: .3s;
    border: 2px solid var(--secondary-color);
}

.button--secondary:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.button--long {
    padding: 2rem 7rem;
}

.button--block {
    width: 100%;
    display: inline-block;
}

.button .icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

.button:hover .icon--primary {
    fill: var(--primary-color);
}

@media screen and (min-width: 1024px) {
    .button {
        font-size: 1.5rem;
    }
}

/* inputs */
.input {
    background-color: #f7f7f7;
    border-radius: 30px;
    border: 2px solid var(--accent-color);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
    outline: 0;
    padding: 1.5rem 2.5rem;
}

.input-group {
    border: 1px solid #acacac;
    border-radius: 30px;
    display: flex;
}

.input-group__search {
    margin-left: .6rem;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 0 1.5rem 3rem;
    width: 0;
}

.input-group .icon-container {
    cursor: pointer;
}

.input-group .button {
    margin: 4px;
}

::placeholder {
    color: #aba9b6;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.8rem;
    }
}

/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 15px 10px #f3f3f3;
    overflow: hidden;
    margin-top: 4rem;
}

.card__header, .card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background-color: var(--primary-color);
    color: #fff;
}

.card--secondary .card__header {
    background-color: var(--secondary-color);
    color: #fff;
}

.card--secondary .badge--secondary {
    background: #02cdf1;
}

.card__body .button {
    margin: 2.4rem 0 1.8rem;
}

/* Plan */
.plan {
    transition: transform .3s;
}

 .plan__name {
    font-size: 2.4;
    font-weight: 600;
    margin: 0;
    color: #fff;
 }

 .plan__price {
    font-size: 6rem;
 }

 .plan__billing-cycle {
    opacity: .8;
    margin-right: 1rem;
 }

 .plan__description {
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin-top: .6rem;
 }

 .plan--popular .card__header {
    position: relative;
 }

 .plan--popular .card__header::before {
    content: url(Images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 6%;
 }

 .plan:hover {
    transform: scale(1.05);
 }

@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }

    .plan--popular .card__header::before {
        right: 8%;
        width: 30px;
    }

    .plan--popular {
        transform: scale(1.1);
     }

    .plan--popular:hover {
        transform: scale(1.15);
     }
}

/* Media */
.media {
    display: flex;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: .8rem;
}

/* Quote */
.quote {
    font-size: 2.4rem;
    font-style: italic;
    color: #5c5577;
    line-height: 1.3;
    margin: 0;
}

.quote__paragraph::before {
    content: open-quote;
}

.quote__paragraph::after {
    content: close-quote;
}

.quote__body {
    font-style: normal;
    margin: 0 1.4rem;
}

.quote__author {
    font-size: 3rem;
    margin-bottom: 0;
}

.quote__company {
    font-size: 1.8rem;
    color:var(--accent-color);
    opacity: .4;
}

.quote__line {
    position: relative;
    bottom: 3px
}

.quote__footer {
    margin: 2.8rem 0;
}

.quote.grid {
    gap: 4rem;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__company {
        font-size: 1.6rem;
    }

    .quote__line {
        bottom: 8px;
    }
}

/* grid */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* testimonial */
.testimonial {
    padding: 4rem;
}

.testimonial__image-icon {
    position: relative;
    margin-right: 2.4rem;
}

.testimonial__image {
    width: 100%;
}

.testimonial__image-icon .icon-container {
    position: absolute;
    top: 3rem;
    right: -34px;
    background: var(--accent-color);
}

.testimonial .grid {
    gap: 4rem;
}

@media screen and (min-width: 768px) {
    .testimonial .quote,
    .testimonial .quote__author {
        font-size: 2.4rem;
    }
}

/* Callout */
.callout {
    padding: 4rem;
    border-radius: 8px;
    margin: 7rem;
}

.callout--primary {
    background: var(--primary-color);
    color: #fff;
}

.callout__heading {
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}

.callout .button {
    justify-self: center;
    align-self: center;
}

.callout__content {
    text-align: center;
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }

    .callout__content {
        text-align: left;
        margin-bottom: 0;
        margin-right: 2.4rem;
    }

    .callout .button {
        justify-self: start;
    }
}

/* collapsible */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__icon {
    width: 45px;
    height:45px;
    background: #5c5c5c;
    transition: transform .3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .6s;
}

.collapsible--expanded .collapsible__icon {
    transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 100%;
}

/* block */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
}

.block__heading {
    margin-top: 0;
}

.block--dark {
    background-color: #0f0f0f;
    color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
    color: #fff;
}

.block--skewed-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 93%);
    padding-bottom: calc(var(--padding-vertical) + 4rem)
}

.block--skewed-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem)
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .block {
        padding: var(--padding-vertical) 6rem;
    }
}

/* navbar */
.nav {
    background: #0f0f0f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 1.6rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    border-bottom: 1px solid #222;
    padding: 2rem 0;
    margin: 0 3rem;
}

.nav__item > a {
    color: #fff;
    transition: color .3s;
}

.nav__item > a:hover {
    color: var(--primary-color)
}

.nav__toggle {
    opacity: .65;
    cursor: pointer;
    transition: .3s;
}

.nav.collapsible--expanded .nav__toggle {
    opacity: 100%;
}

.nav__brand {
    transform: translateY(3px);
}

@media screen and (min-width: 768px) {
    .nav__toggle {
        display: none;
    }
    
    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border-bottom: none;
    }
}

/* hero */
.hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.hero__tagline {
    font-size: 2rem;
    color: #b9b3bf;
    letter-spacing: .5px;
    margin: 2rem 0 5rem;
}

.hero__image {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero__content  {
        text-align: left;
        align-self: center;
    }

    .hero__image {
        margin-left: 4rem;
        transform: translateY(-24px);
    }

    .hero {
        padding-top: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        padding-top: 0;
    }
}

/* Domain Block */
.block-domain {    
    padding-bottom: 0;
}

.block-domain .input-group {
    box-shadow: 0 0 30px 10px #e6ebee;
    margin: 4rem auto;
    border: 0;
    max-width: 640px;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));  
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 800px;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .block-domain__prices {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

/* plans block */
.block-plans .grid {
    gap: 4rem;
}

.block-plans .card {
    max-width: 500px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .block-plans .grid {
        gap: 5rem;
    }
}

/* features block */
.block-features .media {
    flex-direction: column;
}

.block-features .media__image {
    margin: 1.2rem 2rem;
}

.block-features .icon-container {
    background: hsl(214, 100%, 97%);
}

.block-features__text {
    margin: 1rem 0 2rem 0;
}

.block-features__image {
    width: 100%;
    vertical-align: middle;
}

.block-features .grid {
    align-items: center;
    gap: 4rem;
    margin: 8rem 0;
}

.block-features .link-text {
    color: rgb(255, 36, 36);
}

.block-features .block-features__content:nth-of-type(2) {
    margin-top: 4rem;
}

@media screen and (min-width: 768px) {
    .block-features .grid {
        margin: 12rem 0;
    }

    .block-features__content:nth-of-type(odd) .media {
        order: 2;
    }
}

/* showcase */
.showcase__image {
    width: 100%;
    margin: 2.4rem 0 0 0;
}

.showcase .media {
    margin: 6.4rem auto;
    max-width: 767px;
}

.showcase .media__title {
    color: #fff;
}

.showcase .grid {
    align-items: center;
    gap: 1.6rem;
}

@media screen and (min-width: 768px) {
    .showcase .grid {
        grid-template-columns: 35% 65%;
    }

    .showcase__image {
        width: auto;
        max-width: 700px;
        justify-self: end;
    }

    .showcase .media {
        margin: 4rem auto;
    }
}

/* footer */
.footer {
    background: #272727;
}

.footer a {
   color: #cecece; 
   transition: color .3s;
   font-size: 1.6rem;
   font-weight: 300;
   line-height: 0;
}

.footer a:hover {
    color: var(--primary-color)
}

.footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
}

.footer__heading {
    text-transform: uppercase;
    font-weight: 600;
    margin: 1.1rem 0 0 0;
}

.footer .list {
    margin: 1rem 0;
}

.footer__brand {
    margin: 5rem 0 3rem;
    text-align: center;
}

.footer__copyright {
    font-size: 1.6rem;
    font-weight: 200;
    color: #fff;
    opacity: .5;
}

@media screen and (min-width: 768px) {
    .footer__parts {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer__brand {
        order: -1;
    }

    .footer__brand img {
        width: 100%;
    }

    .footer .collapsible__icon {
        display: none;
    }

    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }

    .footer__brand {
        margin-top: 2.4rem;
    }

    .footer__section {
        border-bottom: none;
    }

    .footer .collapsible__heading {
        font-size: 2.8rem;
    }

    .footer .list {
        margin: 2.4rem 0;
    }

    .footer li {
        padding: .8rem 0;
    }

    .footer__brand {
        margin: 2.8rem 2rem 3rem 0;
    }
}

.hidden {
    display: none;
}