:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #1b0760;
    --body-color: #504d61;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--body-color);
}

h1, h2, h3 {
    color: var(--accent-color);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link-text {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-text::after {
    content: '-->';
    margin-left: 8px;
    transition: margin-left .4s;
}

.link-text:hover::after {
    margin-left: 13px;
}

@media screen and (min-width: 1024px) {
    .link-text {
        font-size: 1.5rem;
    }
}

/* Badges */
.badge {
    border-radius: 20px;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    font-size: 2rem;
}

.badge--primary {
    background: #4325b1;
    color: white;
}

.badge--secondary {
    background: var(--secondary-color);
    color: white;
}

.badge--small {
    font-size: 1.6rem;
    padding: .5rem 1.2rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--accent-color);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--bold {
    font-weight: 700;
}

.list--tick {
    list-style-image: url(Images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: .5rem;
    margin-bottom: 1.8rem;
    letter-spacing: .6px;
}

/* Icons */
.icon {
    width: 30px;
    height: 30px;
}

.icon--big {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: #fff;
}

.icon-container {
    background: var(--accent-color);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

/* Buttons */
.button {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.button--primary {
    background-color: var(--accent-color);
    color: #fff;
}

.button--secondary {
    background-color: #fff;
    color: var(--accent-color);
    transition: .3s;
    border: 2px solid var(--accent-color);
}

.button--secondary:hover {
    background-color: var(--accent-color);
    color: #fff;
}

.button--long {
    padding: 2rem 8.8rem;
}

.button--block {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .button {
        font-size: 1.5rem;
    }
}

/* inputs */
.input {
    background-color: #f7f7f7;
    border-radius: 30px;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: 2rem;
    font-weight: 500;
    outline: 0;
    padding: 1.5rem 2.5rem;
}

.input-group {
    border: 1px solid #acacac;
    border-radius: 30px;
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem
}

.input-group .icon-container {
    cursor: pointer;
}

.input-group .button {
    margin: 4px;
}

::placeholder {
    color: #aba9b6;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.8rem;
    }
}

/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 15px 10px #f3f3f3;
    overflow: hidden;
}

.card__header, .card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background-color: var(--accent-color);
    color: #fff;
}

.card--secondary .card__header {
    background-color: var(--secondary-color);
    color: #fff;
}

.card--secondary .badge--secondary {
    background: #02cdf1;
}

.card__body .button {
    margin: 2.4rem 0 1.8rem;
}

/* Plan */
 .plan__name {
    font-size: 2.4;
    font-weight: 600;
    margin: 0;
    color: #fff;
 }

 .plan__price {
    font-size: 6rem;
 }

 .plan__billing-cycle {
    opacity: .8;
    margin-right: 1rem;
 }

 .plan__description {
    font-size: 2rem;
    font-weight: 300;
    display: block;
 }

 .plan--popular .card__header {
    position: relative;
 }

 .plan--popular .card__header::before {
    content: url(Images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 6%;
 }

@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }

    .plan--popular .card__header::before {
        right: 8%;
    }
}

/* Media */
.media {
    display: flex;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: .8rem;
}

/* Quote */
.quote {
    font-size: 3rem;
    font-style: italic;
    color: #5c5577;
    line-height: 1.3;
}

.quote__paragraph::before {
    content: open-quote;
}

.quote__paragraph::after {
    content: close-quote;
}

.quote__body {
    font-style: normal;
    margin: 0 1.4rem;
}

.quote__author {
    font-size: 3rem;
    margin-bottom: 0;
}

.quote__company {
    font-size: 1.8rem;
    color:var(--accent-color);
    opacity: .4;
}

.quote__line {
    position: relative;
    bottom: 3px
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__company {
        font-size: 1.6rem;
    }

    .quote__line {
        bottom: 8px;
    }
}

/* grid */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* testimonial */
.testimonial {
    margin: 4rem;
    padding: 4rem;
}

.testimonial__image-icon {
    position: relative;
    margin-right: 2.4rem;
}

.testimonial__image {
    width: 100%;
}

.testimonial__image-icon .icon-container {
    position: absolute;
    top: 3rem;
    right: -34px;
}

@media screen and (min-width: 768px) {
    .testimonial .quote,
    .testimonial .quote__author {
        font-size: 2.4rem;
    }
}

/* Callout */
.callout {
    padding: 4rem;
    border-radius: 8px;
    margin: 7rem;
}

.callout--primary {
    background: var(--primary-color);
    color: #fff;
}

.callout__heading {
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}

.callout .button {
    justify-self: center;
    align-self: center;
}

.callout__content {
    text-align: center;
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }

    .callout__content {
        text-align: left;
        margin-bottom: 0;
        margin-right: 2.4rem;
    }

    .callout .button {
        justify-self: start;
    }
}