:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #1b0760;
    --body-color: #504d61;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--body-color);
}

h1, h2, h3 {
    color: var(--accent-color);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link-text {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-text::after {
    content: '-->';
    margin-left: 8px;
    transition: margin-left .4s;
}

.link-text:hover::after {
    margin-left: 13px;
}

@media screen and (min-width: 1024px) {
    .link-text {
        font-size: 1.5rem;
    }
}

/* Badges */
.badge {
    border-radius: 20px;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    font-size: 2rem;
}

.badge--primary {
    background: var(--primary-color);
    color: white;
}

.badge--secondary {
    background: var(--secondary-color);
    color: white;
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--accent-color);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--bold {
    font-weight: 700;
}

.list--tick {
    list-style-image: url(Images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: .5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--primary-color)
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.button {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.button--primary {
    background-color: var(--accent-color);
    color: #fff;
}

.button--secondary {
    background-color: #fff;
    color: var(--accent-color);
    transition: .3s;
    border: 2px solid var(--accent-color);
}

.button--secondary:hover {
    background-color: var(--accent-color);
    color: #fff;
}

.button--block {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .button {
        font-size: 1.5rem;
    }
}