<article class="block container block-features">
  <div class="block__header">
    <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nam aperiam
      aliquid repellendus modi fugit velit.
    </p>
  </div>

  <div class="grid grid--1x2 block-features__content">
    <div class="media">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary icon--big">
            <use xlink:href="Images/Icons.svg#easy"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title">Super Easy to Use</h3>
        <p class="block-features__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
          maxime dolorem impedit illo laborum assumenda ad molestias ratione rem
          eaque!
        </p>
        <a class="link-text" href="#">Learn More </a>
      </div>
    </div>
    <img class="block-features__image" src="Images/easy.jpg" alt="" />
  </div>
  <div class="grid grid--1x2 block-features__content">
    <div class="media">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary icon--big">
            <use xlink:href="Images/Icons.svg#computer"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title">Simply Fast Websites</h3>
        <p class="block-features__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
          maxime dolorem impedit illo laborum assumenda ad molestias ratione rem
          eaque!
        </p>
        <a class="link-text" href="#">Learn More </a>
      </div>
    </div>
    <img class="block-features__image" src="Images/fast.jpg" alt="" />
  </div>
  <div class="grid grid--1x2 block-features__content">
    <div class="media">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary icon--big">
            <use xlink:href="Images/Icons.svg#settings"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title">WordPress Made Easy</h3>
        <p class="block-features__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
          maxime dolorem impedit illo laborum assumenda ad molestias ratione rem
          eaque!
        </p>
        <a class="link-text" href="#">Learn More </a>
      </div>
    </div>
    <img class="block-features__image" src="Images/wordpress.jpg" alt="" />
  </div>
  <div class="grid grid--1x2 block-features__content">
    <div class="media">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary icon--big">
            <use xlink:href="Images/Icons.svg#clock"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title">24/7 Expert Support</h3>
        <p class="block-features__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
          maxime dolorem impedit illo laborum assumenda ad molestias ratione rem
          eaque!
        </p>
        <a class="link-text" href="#">Learn More </a>
      </div>
    </div>
    <img class="block-features__image" src="Images/support.jpg" alt="" />
  </div>
</article>
