<svg class="icon icon--primary">
  <use xlink:href="Images/Icons.svg#chevron"></use>
</svg>
<svg class="icon">
  <use xlink:href="#clock"></use>
</svg>
<svg class="icon">
  <use xlink:href="#computer"></use>
</svg>
<svg class="icon"><use xlink:href="#easy"></use></svg>
<svg class="icon">
  <use xlink:href="#growth"></use>
</svg>
<svg class="icon">
  <use xlink:href="#line"></use>
</svg>
<svg class="icon">
  <use xlink:href="#menu"></use>
</svg>
<svg class="icon">
  <use xlink:href="#quotes"></use>
</svg>
<svg class="icon">
  <use xlink:href="#search"></use>
</svg>
<svg class="icon">
  <use xlink:href="#settings"></use>
</svg>
<svg class="icon">
  <use xlink:href="#snap"></use>
</svg>
<svg class="icon">
  <use xlink:href="#tick"></use>
</svg>
<span class="icon-container">
  <svg class="icon">
    <use xlink:href="Images/Icons.svg#wordpress"></use>
  </svg>
</span>
