<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">What Our Customers are Saying</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aliquam
      distinctio ipsam officia maiores temporibus?
    </p>
  </header>

  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image-icon">
        <img
          class="testimonial__image"
          src="Images/testimonial.jpg"
          alt="A happy, smilling customer"
        />
        <span class="icon-container">
          <svg class="icon--big icon--white">
            <use xlink:href="Images/Icons.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <div>
        <blockquote class="quote">
          <p class="quote__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            recusandae maxime totam enim, dolore cumque voluptatibus? Tenetur
            nobis autem pariatur. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Porro, voluptate.
          </p>
          <footer class="quote__footer">
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="Images/Icons.svg#line"></use>
                </svg>
              </div>
              <div class="media__body quote__body">
                <h3 class="media__title quote__author">Jhone Lumeo</h3>
                <p class="quote__company">Mosh Company CEO</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
